@page

@attribute [Authorize]

@model AuthRequiredModel

@{
    ViewData["Title"] = "Auth Required";
}

<h1>Auth Required</h1>

<h2>User Details</h2>

<p>
    The following user details are supplied by the configured identity provider.
    Visit the <a href="@Model.UserProfileManagementUrl" target="_blank" title="Manage user profile">Account Console</a> to change these details.
</p>

<div class="row g-3">
    <div class="col-md-10">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" value="@Model.CurrentUser?.Username" readonly />
    </div>
    <div class="col-md-6">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstName" value="@Model.CurrentUser?.FirstName" readonly />
    </div>
    <div class="col-md-6">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastName" value="@Model.CurrentUser?.LastName" readonly />
    </div>
    <div class="col-md-12">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" value="@Model.CurrentUser?.Email" readonly />
    </div>
    <div class="col-12">
        <label for="street" class="form-label">Address</label>
        <input type="text" class="form-control" id="street" value="@Model.CurrentUser?.AddressStreet" readonly />
    </div>
    <div class="col-md-6">
        <label for="city" class="form-label">City</label>
        <input type="text" class="form-control" id="city" value="@Model.CurrentUser?.AddressCity" readonly />
    </div>
    <div class="col-md-4">
        <label for="state" class="form-label">State</label>
        <input type="text" class="form-control" id="state" value="@Model.CurrentUser?.AddressState" readonly />
    </div>
    <div class="col-md-2">
        <label for="zip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="zip" value="@Model.CurrentUser?.AddressZipCode" readonly />
    </div>
    <div class="col-md-8">
        <label for="country" class="form-label">Country</label>
        <input type="text" class="form-control" id="country" value="@Model.CurrentUser?.AddressCountry" readonly />
    </div>
</div>
